.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.containerProducts{
    margin-top: 100px;
    margin-left: 80px;
    background-color: #a1a1a1;
    color: #000;
    border-radius: 20px;
}

.titulo{
    margin-top: 20px;
}

.texto{
    margin-top: 20px;
}

.button{
    margin-bottom: 10px;
    margin-left: 20px;
    width: 20%;
    background-color: #636363;
}

.precio{
    margin-top: 20px;
    margin-bottom: 20px;
}