.active{
    border-bottom: 2px solid #fff;
}

.profile{
    font-size: 18px;    
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 500px;
}

.label{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 20px;
}

.input{
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
}

.submitButton{
    background-color: rgb(155, 11, 23);
    margin-top: 20px;
    width: 30%;
}

.tab{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.tab:hover{
    opacity: 0.8;
}

.TabsContainer{
    margin: 12px 0;
    cursor: pointer;
}

.homeLink{
    color: #fff;
    text-decoration: none;
}